body{
	background-color: #3380FF;
	color: white;
}
h1{
	font-family: 'Lobster', cursive;
}

#container{
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

a{
	color: white;
	text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-xing {
  background: #ff6600;
  color: white;
}